*{
  margin: 0;
  padding: 0;
  font-family: 'Inter', sans-serif;
}

.container{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  padding: 20px;
  box-sizing: border-box;
  background: #F3F5FC;
  gap: 40px;
}
.logo{
  width: 10vw;
  display: flex;
  justify-content: flex-end;
}
.input{
  width: 50vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  padding: 30px;
  margin-top: 50px;
  box-sizing: border-box;
}

#input{
  width: 90%;
  height: 80%;
  background-color: #f3f5fc;
  color: #0A3871;
  font-size: 20px;
  resize: none;
  border: none;
  outline: none;
}

#input::placeholder{
  color: #0A3871;
}

.warning{
  width: 90%;
}
.areaButton{
  width: 90%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

.areaButton button{
  width: 270px;
  height: 45px;
  border-radius: 15px;
  border: 1px solid #0A3871;
  cursor: pointer;
}

#encriptarButton{
  background: #0A3871;
  color: white;
}

#desencriptarButton{
  background: #D8DFE8;
  color: #0A3871;
}

.output{
  width: 20vw;
  background-color: white;
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 20px;
  padding: 15px;
  box-sizing: border-box;
  box-shadow: 0px 24px 32px -8px rgba(0, 0, 0, 0.276);
  border-radius: 32px;
  font-size: 10px;
}
.output svg{
  width: 70%;
}

#output{
  width: 90%;
  height: 70vh;
  background-color: transparent;
  color: #495057;
  font-size: 15px;
  resize: none;
  border: none;
  outline: none;
}
.output button{
  width: 90%;
  height: 45px;
  border-radius: 15px;
  border: 1px solid #0A3871;
  cursor: pointer;
  color: #0A3871;
  background-color: white;
}

@media (max-width:820px){
  .container{
    gap: 20px;
    padding: 20px;
  }

  .logo{
    width: 90vw;
    height: 10vh;
    justify-content: flex-start;
  }
  .input{
    height: 60vh;
    width: 90vw;
    margin-top: 0;
  }
  .output{
    width: 90vw;
    height: auto;
    justify-content: center;
  }

  #output{
  height: 50%;
  }
  .output svg{
    display: none;
  }
}